%% -*- mode: erlang -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
        {gproc, ".*",  {git, "https://github.com/uwiger/gproc.git", {tag, "0.5"}}},
        {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "3.0.1"}}}
       ]}.
